<suite name="Insurance Mobile Appium Suite">

    <test name="Sprint 1 and 2 Tests">

        <parameter name="otp" value="123456"/>

        <classes>
            <class name="tests.sprint1.TC43_MobileNumberValidationTest"/>
            <class name="tests.sprint1.TC43_AgeValidationStateTest"/>
            <class name="tests.sprint1.TC37_SimultaneousLoginAndBikeInsuranceTest"/>
            <class name="tests.sprint1.TC05_ValidIndianMobileNumberTest"/>
            <class name="tests.sprint1.TC06_InvalidIndianMobileNumberTest"/>
            <class name="tests.sprint1.TC14_LoginViaOtpDisabledUntilValidDetailsTest"/>
        </classes>

    </test>

</suite>